# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*-lock.json
*-lock.yaml
yarn.lock
*.sw*
*.un~
typings/
.nyc_output/
upload

node_modules
.DS_Store
dist
unpackage
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

/RH-server/run
# Editor directories and files
.vscode
.github
.hbuilderx
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# docker缓存文件
/docker/data
